@import '~/styles/variables.scss';
@import '~/styles/mixins.scss';

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 600px;
  height: 250px;
  margin: 0 auto;
  padding: 30px;
  line-height: 1;
  text-align: center;
  border: solid 1px #ccc;

  @include sp {
    width: auto;
    height: auto;
    padding: 40px 15px;
  }
}

.panel--correct {
  color: blue;
}

.panel--incorrect {
  color: red;
}

.text {
  margin: 0;
  font-weight: bold;
  font-size: 3rem;
}

.sub-text {
  margin: 10px auto 0;
  font-size: 1.5rem;

  @include sp {
    margin: 8px auto 0;
    font-size: 1.4rem;
  }
}
