.option-list {
  width: 500px;
  margin: 20px auto 0;
  list-style: none;

  &__item {
    margin: 0 auto 10px;
    padding: 8px 14px;
    border: solid 1px #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: border-color, color;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;

    &:hover {
      color: blue;
      border-color: blue;
    }
  }
}
